@font-face {
    font-family: 'AbsoluteEmpire';
    src: url('fonts/aAbsoluteEmpire.otf') format('opentype'),
         url('fonts/aAbsoluteEmpire.ttf') format('truetype');
}

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 150vh;
}

body{
    background: url("pexels-vincent-ma-janssen-1310847.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    main{
        width: 100%;
        padding-top: 70px;
        h1{
            font-family: 'AbsoluteEmpire';
            text-align: center;
            font-size: 60px;
            color: rgb(255, 230, 0);
            background-color: rgba(0, 0, 0, 0.514);
            border-top: 5px solid rgba(0, 0, 0, 0.685);
            border-bottom: 5px solid rgba(0, 0, 0, 0.685);
        }
        .poke-tab{
            border: 45px solid rgba(68, 64, 64, 0.966);
            background-color: white;
            border-radius: 20px;
            width: 70vw;
            height: auto;
            max-width: 700px;
            position: relative;
            margin: auto;
            visibility: hidden;
            .close-button{
                width: 22px;
                height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                position: absolute;
                top: -37px;
                right: -30px;
                cursor: pointer;
                color: white;
                &:hover{
                    color: red;
                }
            }
            .main-info{
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;
                overflow-x: hidden;
                .images-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                }
                .text p, .text h2{
                    text-align: center;
                }
            }
        }
        .search-for-pokemons{
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;
            margin-bottom: 50px;
            label{
                padding: 10px;
                font-family: "AbsoluteEmpire";
                color: rgb(252, 198, 51);
                background-color: rgba(0, 0, 0, 0.685);
                border-right: 5px solid rgba(0, 0, 0, 0.685);
                border-left: 5px solid rgba(0, 0, 0, 0.685);
            }
            .flex-container-search{
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
    footer{
        width: 100%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 18px;
        background-color: rgb(22, 20, 20);
        color: white;
        position: absolute;
        top: 150%;
        margin-top: 160px;
        .grid-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;
            .right-info{
                grid-column: 0;
            }
            .left-info{
                grid-column: 1;
                .title-number{
                    margin-top: 25px;
                }
            }
            .left-info a, .right-info a{
                color: white;
            }
        }
        
    }
}





