html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("pexels-goumbik-616358.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.bold {
  font-weight: 600; }

body main {
  margin-bottom: 80px; }
  body main .main-title {
    text-align: center;
    font-size: 60px;
    color: black;
    padding-top: 75px;
    font-family: Helvetica, sans-serif;
    margin-bottom: 50px; }
  body main #input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 80px; }
    body main #input-section .input-label {
      font-size: 20px; }
    body main #input-section #ingredient-input {
      width: 180px;
      margin-left: 10px; }
    body main #input-section .call-api {
      width: 10rem; }
  body main .grid-title {
    text-align: center;
    color: black;
    font-size: 3rem;
    margin-bottom: 25px; }
  body main #list-of-ingredients {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    height: auto;
    margin: auto;
    gap: 10px;
    background-color: white;
    padding-bottom: 50px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px; }
    @media (max-width: 675px) {
      body main #list-of-ingredients {
        display: grid;
        grid-template-columns: repeat(2, 1fr); } }
    body main #list-of-ingredients .ingredients-added {
      display: contents; }
      body main #list-of-ingredients .ingredients-added .ingredient {
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        color: white;
        padding-left: 10%;
        border-radius: 6px; }
        body main #list-of-ingredients .ingredients-added .ingredient button {
          width: 2rem;
          height: 2rem;
          border: none;
          border-right: 6px solid black; }
          body main #list-of-ingredients .ingredients-added .ingredient button:hover {
            color: white;
            background-color: #ce1818; }
  body main .find-recipies {
    width: 15rem;
    height: 5rem;
    font-size: 30px;
    display: block;
    margin: auto;
    margin-top: 35px; }
  body main .recipies-heading {
    margin-top: 80px;
    visibility: hidden; }
  body main #list-of-recipies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    height: auto;
    margin: auto;
    gap: 10px;
    background-color: #CDBCA8; }
    @media (max-width: 768px) {
      body main #list-of-recipies {
        width: 50%;
        min-width: 350px; } }
    body main #list-of-recipies .recipies-container {
      display: contents; }
      body main #list-of-recipies .recipies-container .recipe {
        width: 100%;
        border-radius: 8px;
        padding-right: 10px;
        height: 12rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #D08D62;
        color: black;
        gap: 10px; }
        @media (max-width: 1176px) {
          body main #list-of-recipies .recipies-container .recipe {
            flex-direction: column;
            height: auto;
            padding-top: 8px;
            justify-content: flex-start;
            padding-right: 6%;
            padding-left: 6%; } }
        body main #list-of-recipies .recipies-container .recipe img {
          max-width: 255px;
          max-height: 170px;
          padding-left: 9px; }
        body main #list-of-recipies .recipies-container .recipe .name-of-recipe {
          font-size: 25px; }
    @media (max-width: 768px) {
      body main #list-of-recipies {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center; } }

.footer-container {
  display: grid;
  width: 100%;
  padding-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 15px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.199);
  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.1); }

.footer-container a,
.footer-container div a {
  text-decoration: none;
  color: #0320c4;
  font-size: 20px; }

.left-side {
  text-align: center; }

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
  .right-side .btn-danger {
    margin-left: 10px; }

.row1 {
  grid-row: 1; }

.number,
.row3 {
  grid-row: 3; }

.row2 {
  grid-row: 2; }

/*# sourceMappingURL=style.css.map */
